@import "~bootstrap/dist/css/bootstrap.css";

.container{
  margin-top: 40px;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}
h1{
  margin-bottom: 50px;
}

button{
  height: 60px;
  width: 80%;
  margin: 3px;
}

.card{
 vertical-align: center;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  text-align: center;
  min-height: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}
