<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
<div class="container">
  <h1 class="text-center">QuikReads</h1>

  <div class="card shadow ">
    <h3 class="my-auto">The Godfather</h3>
    <h3 class="my-auto">Mario Puzo</h3>
    <h3 class="my-auto">Fiction</h3>
    <button class="btn btn-success btn-lg my-auto">Approved</button>
    <button class="btn btn-danger btn-lg my-auto">Rejected</button>
  </div>
  <div class="card shadow " *ngFor="let book of bookItems">
    <h3 class="my-auto">{{book.bookTitle}}</h3>
    <h3 class="my-auto">{{book.author}}</h3>
    <h3 class="my-auto" >
      <span *ngFor="let category of book.category">{{category}}    </span>
    </h3>
    <button class="btn btn-success btn-lg my-auto">Approved</button>
    <button class="btn btn-danger btn-lg my-auto">Rejected</button>
  </div>

</div>
